"<h1>New article</h1>"
"<%= render 'form' %>"
"<%= link_to 'Back', articles_path %>"


=begin
<h1> New Article </h1>

<%= form_for :article ,url: articles_path do |f| %>
  <% if @article.errors.any? %>
  <div id="error_explanation" >
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved"
      </h2>
      <u1>
        <% @articles.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </u1>
  </div>
  <% end %>


  <p>
    <%= f.label :title %><br>
    <%=f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', articles_path %>
=end
